<!DOCTYPE html>
<h1>New Guest creation</h1>

<%= form_for(@guest) do |f| %>

    <div class="field">
        <%= f.text_area :username, placeholder: "Enter username", class:"form-conrol" %>
    </div>

    <%= f.submit "Create", class: "btn btn-primary" %>
<% end %>
