
<!DOCTYPE html>

<div class="chat_container">
  <div id="room">
    <p class="alert"> Welcome to the chat room <%= current_user[:user_id] %>! </p>
  </div>

  <form id="new_message_form">
    <input type="text" id="message" name="message">
    <input type="submit" value="Send">
  </form>
</div>
